.is-table-row-small-size .table-col {
  padding-block: 4px;
}

.is-table-row-small-size .table-thead-col {
  padding-block: 16px;
}

.outer-card {
  background: hsl(var(--color-neutral-5));
  border-radius: 2.25em;
  box-shadow: var(--shadow-small);
  padding: 0.75em;
  border: solid 0.0625rem rgb(238, 238, 241);
  box-shadow: 0px 9.36px 9.36px 0px hsla(0, 0%, 0%, 0.04);
}

.inner-card {
  background: hsl(var(--color-neutral-0));
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-small);
  padding: 1.5em;
  border: solid 0.0625rem rgb(238, 238, 241);
  box-shadow: 0px 2px 12px 0px hsla(0, 0%, 0%, 0.03);
}

.line-left {
  width: 3em;
  height: 1px;
  background: linear-gradient(
    340.76deg,
    #f02e65 6.32%,
    rgba(254, 149, 103, 0.15) 116.81%
  );
}

.line-right {
  width: 3em;
  height: 1px;
  background: linear-gradient(
    171.76deg,
    #f02e65 6.32%,
    rgba(254, 149, 103, 0.15) 116.81%
  );
}

.checker-background {
  position: relative;
  overflow: hidden;
}

.checker-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#e6e6e690 1px, transparent 1px),
    linear-gradient(90deg, #e6e6e690 1px, transparent 1px);
  background-size: 4em 4em;
  mask-image: radial-gradient(ellipse at 50% 40%, black 0%, transparent 55%);
  z-index: -1;
}
